{% set post_image = page.media.images[page.header.hero.image].url|defined(page.media.images|first.url) %}
{% set link = page.header.link|defined(page.url) %}

<article class="w-full sm:w-1/2 {{ show_sidebar ? '' : 'md:w-1/3' }} px-4 my-4">
  <div class="blog-item flex flex-col items-stretch bg-white dark:bg-gray-700 h-full flex flex-col shadow-lg rounded-md overflow-hidden">
    {% if post_image %}
      <a href="{{ url(link) }}" class="">
        <img class="block bg-cover bg-center w-full h-40 object-cover" src="{{ post_image }}"
             alt="{{ page.header.title }}"/>
      </a>
    {% endif %}
    <div class="{{ prose_style }} max-w-none flex-1 p-4">

      {% include 'partials/blog/taxonomy.html.twig' %}
      <a href="{{ url(link) }}" class="transition">
        <h3 class="text-lg mt-2 font-bold text-gray-600 hover:text-black dark:text-gray-100 dark:hover:text-white">
          {{ page.header.link ? '»' }} {{ page.header.title|e }}
        </h3>
      </a>
      {% set summary_size = bg_image ?  page.summary|truncate(170, true) : page.summary %}
      <div class="text-base leading-normal">{{ summary_size|raw }}</div>
    </div>
    <div class="p-4 -mt-4 text-description text-sm text-gray-500">
      {{ page.date|date(system.pages.dateformat.short) }}
      {% if page.header.author %}
        - {{ page.header.author }}
      {% endif %}
    </div>

  </div>
</article>
